<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fred.trafficlightsfillin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 添加日历权限权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".SoftApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrafficLightsFillIn"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".query.TaskUpdateActivity"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".query.TaskDetailsActivity" />
        <activity android:name=".intersection.TimingDetailsActivity" />
        <activity android:name=".intersection.TimingEditorActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".record.UpdateListActivity" />
        <activity android:name=".record.RecordNewDetailsActivity" />
        <activity android:name=".feed.FeedActivity" />
        <activity android:name=".query.QueryMainActivity" />
        <activity android:name=".intersection.IntersectionDetailsActivity" />
        <activity android:name=".record.RecordNewActivity" />
        <activity android:name=".record.RecordListActivity" />
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".login.FeedPasswordActivity" />
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".record.RecordTaskDetailsActivity"></activity>
        <activity android:name=".MainActivity" /> <!-- 高德地图 -->
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".JGService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".JGReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.fred.trafficlightsfillin" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8565766bdf041166c41ed3ada3e16ef5" />
    </application>

</manifest>